<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maximus.gomokuolserverjava.mapper.UserMapper">
    <select id="getFriendsList" parameterType="com.maximus.gomokuolserverjava.dto.UserDto" resultType="com.maximus.gomokuolserverjava.entity.User">
        SELECT
            id,
            name
        FROM user
        WHERE
            id in
            (
                SELECT user_id2 FROM relations
                WHERE user_id1 = #{id}
            )
    </select>
</mapper>
