.HolyGrail {
    display: flex;
    flex-direction: column;
    height: 100%
}

header {
    background: #f5f7ff;
    box-shadow: 0 6px 22px 4px rgba(7,48,114,.12)
}

footer {
    flex: 1;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
    background: #f5f7ff;

}
.HolyGrail-content {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 15%;
    width: 70%;
    margin: 0 auto;
    background: #9ce;
}
.menuItem {
    float: right;
}
#title {
    font-size: 40px;
    padding-left: 5px;
}
.game-lobby {
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.ant-table-body {
    overflow: auto;
}
#board {
    display: block;
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.12),0 6px 10px -4px rgba(14,13,26,.12);
    cursor:pointer ;
    margin-top: 16px;
    margin-left: 16px;
    background: white;
}
.playInfo {
    width:95%;
    margin: auto;
}
.playInfoTextArea {
    width:100%;
    margin:auto;
    height:240px
}
.playInfoButton {
    float: right;
}
.friends{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    width:100%;
    background-color: white;
}
.connectList{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    width: 30%;
    border-right: 1px solid rgb(240,240,240);
}
.connectInfo {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 30%;
    width: 70%;
}
.messageInfo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30%;
    width: 70%;
}
.blankPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    overflow: auto;
    background: white;

}
.groupInfo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}
.groupAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 70vh;
    overflow: auto;
    background: white;
}
.operateGroup {
    text-align: center;
}
.friendInfo {
    position: absolute;
    top: 10%;
    bottom: 0px;
    width: 100%;
}
.friendAvatar {
    margin-bottom: 20px;
}
.nickname {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
}
.profile {
    padding: 80px 0;
    text-align: center;
}
.meta-area {
    margin-top: 30px;
    margin-bottom: 100px;
}
.meta-area-item {
    float: left;
    padding-left: 40%;
}
.friend-label {
    float: left;
    font-size: 12px;
    color: #888;
    margin-right: 10px;
}
.friend-p {
    float: left;
    font-size: 12px;
    color: #888;
}
.messages{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    width:100%;
    background-color: white;
}
.messagesList{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    width: 30%;
    border-right: 1px solid rgb(240,240,240);
}
.messageInfo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 30%;
}
/*聊天框title*/
.box_hd {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 30px;
}
.box_hd .title_wrap {
    position: relative;
    margin: 0 19px;
    border-bottom: 1px solid #d6d6d6;
    z-index: 1024;
}
.box_hd .title {
    font-weight: 400;
    height: 25px;
    display: inline-block;
    font-size: 12px;
}
.box_hd .title_name {
    /*display: inline-block;*/
    vertical-align: center;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
/*聊天信息*/
.chat {
    position: absolute;
    bottom: 180px;
    overflow: scroll!important;
    padding: 0!important;
    left: 0;
    right: 0;
    top: 30px;
}
.chat-bd {
    padding: 0 19px;
}
.scope {

}
/*我的聊天信息*/
.message-me {
    float: right;
    text-align: right;
    clear: right;
    margin-bottom: 16px;
}
.message-me-avatar {
    float: right;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}
.content-me {
    overflow: hidden;
}
.bubble-content {
    background-color: #b2e281;
    max-height: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}
.bubble-content::after {
    left: 100%;
    position: absolute;
    top:14px;
    border: 6px solid transparent;
    content: " ";
    border-left-color: #b2e281;
}
.bubble-content-others::after {
    right: 100%;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " ";
    border-right-color: rgb(226,226,226);
}
/*.bubble-content::before {*/
/*    position: absolute;*/
/*    top: 14px;*/
/*    border: 6px solid transparent;*/
/*    content: " ";*/
/*    left: 100%;*/
/*}*/
.
.bubble {
    word-break: break-all;
    min-height: 25px;
}
.plain {
    padding: 9px 13px;
}
.message-plain {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
}
/*对方的聊天信息*/
.message-others {
    margin-bottom: 16px;
    float: left;
    width: 100%;
}
.message-others-avatar {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 2px;
    float: left;
    cursor: pointer;
}
.content-others {
    overflow: hidden;
}
.other-names {
    font-weight: 400;
    padding-left: 10px;
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #4f4f4f;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
    display: block;
}
.bubble-content-others {
    background-color: rgb(226,226,226);
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
}
.bubble-others {
    word-break: break-all;
    min-height: 25px;
}
.plain-others {
    padding: 9px 13px;
}
.message-plain-others {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
    display: block;
}

/*聊天框底部*/
.chat-box-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    margin-left: 19px;
    margin-right: 19px;
    border-top: 1px solid #d6d6d6;
}
/*表情、截图、文件*/
.toolbar {
    height: 30px;
}
/*输入框*/
.editArea {
    height: 7em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 12px;
    outline: none;
    border: 0;
    font-size: 14px;
}
.editArea {
    margin: 0;
    white-space: pre-wrap;
    word-break: normal;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}
.chat-box-foot .action {
    text-align: right;
    margin-top: 5px;
}
.desc {
    color: #888888;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 7px
}


